/* CSS Document */

h2{
padding: 0 120px;
}

input{
    text-align: center;
    margin: 0 50px;
    border-radius: 7px;
}
label{
    font-size: smaller;
    display:inline-block;
    max-width: 190px;
    width: 190px;
    margin: 7px 0; 
    letter-spacing: -1.1px;

}
#ctts{
    justify-content: start;
    background-color: rgba(250, 235, 215, 0.9);
    font-size: 30px;}

    